.sequenceInput {
    background-color: #f1f4ff;
    font-size: 15px !important;
    border: #f1f4ff;
    border-bottom: 1px solid black;
    width: 100% !important;
    height: 27px !important;
    outline: none !important;
    border: none !important;
    margin-left: 15px;
    padding: 10px;
    height: 50px !important;
    border-radius: 10px;
  }

  .SearchingSequence{
    max-height: 300px;
    width: 45%;
    padding-left: 20px;
    overflow-y: scroll;
    position: absolute;
    z-index: 101;
    background: white;
}