.mainPart {
  border: 3.5px solid black;
  padding: 10px;
  border-style: double !important;
}
.index-name input {
  background-color: #f1f4ff;
  font-size: 15px !important;
  border: #f1f4ff;
  border-bottom: 1px solid black;
  width: 60%;
  height: 27px !important;
  margin-left: 5px !important;
}

.index-name input:focus,
textarea:focus {
  outline: none !important;
}
.pain-time input {
  background-color: #f1f4ff;
  font-size: 15px !important;
  border: #f1f4ff;
  border-bottom: 1px solid black;
  width: 40%;
  height: 27px !important;
  margin-left: 5px !important;
}

.pain-time input:focus,
textarea:focus {
  outline: none !important;
}

/* leftbodys css */

.leftImg {
  height: 670px !important;
  width: 300px !important;
}
.container {
  position: relative;
  text-align: center;
}
.lefticon1 {
  position: absolute;
  top: 0.7%;
  left: 47%;
}
.lefticon2 {
  position: absolute;
  top: 4%;
  left: 47%;
}
.lefticon3 {
  position: absolute;
  top: 4%;
  left: 41%;
}
.lefticon4 {
  position: absolute;
  top: 4%;
  left: 53%;
}
.lefticon5 {
  position: absolute;
  top: 10%;
  left: 42%;
}
.lefticon6 {
  position: absolute;
  top: 10%;
  left: 52%;
}
.lefticon7 {
  position: absolute;
  top: 19.3%;
  left: 34%;
}
.lefticon8 {
  position: absolute;
  top: 19.3%;
  left: 48%;
}
.lefticon9 {
  position: absolute;
  top: 19.3%;
  left: 62.5%;
}
.lefticon10 {
  position: absolute;
  top: 24.6%;
  left: 48%;
}
.lefticon11 {
  position: absolute;
  top: 28%;
  left: 33%;
}
.lefticon12 {
  position: absolute;
  top: 28%;
  left: 63%;
}
.lefticon13 {
  position: absolute;
  top: 31%;
  left: 41%;
}
.lefticon14 {
  position: absolute;
  top: 31%;
  left: 55%;
}
.lefticon15 {
  position: absolute;
  top: 34%;
  left: 32%;
}
.lefticon16 {
  position: absolute;
  top: 34%;
  left: 65%;
}
.lefticon17 {
  position: absolute;
  top: 37%;
  left: 41%;
}

.lefticon18 {
  position: absolute;
  top: 37%;
  left: 55%;
}
.lefticon19 {
  position: absolute;
  top: 39.8%;
  left: 30%;
}
.lefticon20 {
  position: absolute;
  top: 39.8%;
  left: 66.5%;
}
.lefticon21 {
  position: absolute;
  top: 46%;
  left: 28%;
}
.lefticon22 {
  position: absolute;
  top: 46%;
  left: 69%;
}
.lefticon23 {
  position: absolute;
  top: 45.9%;
  left: 38.7%;
}
.lefticon24 {
  position: absolute;
  top: 47.2%;
  left: 48%;
}
.lefticon25 {
  position: absolute;
  top: 45.9%;
  left: 58%;
}
.lefticon26 {
  position: absolute;
  top: 55.5%;
  left: 41%;
}
.lefticon27 {
  position: absolute;
  top: 55.5%;
  left: 55%;
}
.lefticon28 {
  position: absolute;
  top: 67%;
  left: 42%;
}
.lefticon29 {
  position: absolute;
  top: 67%;
  left: 53%;
}
.lefticon30 {
  position: absolute;
  top: 74%;
  left: 43%;
}

.lefticon31 {
  position: absolute;
  top: 74%;
  left: 53.4%;
}
.lefticon32 {
  position: absolute;
  top: 85%;
  left: 45%;
}
.lefticon33 {
  position: absolute;
  top: 85%;
  left: 53.5%;
}
.lefticon34 {
  position: absolute;
  top: 89%;
  left: 43%;
}

.lefticon35 {
  position: absolute;
  top: 89%;
  left: 55.8%;
}
.lefticon36 {
  position: absolute;
  top: 93.3%;
  left: 43%;
}

.lefticon37 {
  position: absolute;
  top: 93.3%;
  left: 55.8%;
}

/* middleimg */
.middleimg {
  height: 650px !important;
  width: 150px !important;
}
.middlefirsticon1 {
  position: absolute;
  top: 0%;
  left: 47%;
}
.middlefirsticon2 {
  position: absolute;
  top: 4%;
  left: 45%;
}
.middlefirsticon3 {
  position: absolute;
  top: 8%;
  left: 41%;
}
.middlefirsticon4 {
  position: absolute;
  top: 11.8%;
  left: 36%;
}
.middlefirsticon5 {
  position: absolute;
  top: 14.8%;
  left: 32.5%;
}
.middlefirsticon6 {
  position: absolute;
  top: 17.8%;
  left: 32.5%;
}
.middlefirsticon7 {
  position: absolute;
  top: 21%;
  left: 32.5%;
}
.middlefirsticon8 {
  position: absolute;
  top: 24.3%;
  left: 32.5%;
}
.middlefirsticon9 {
  position: absolute;
  top: 12%;
  left: 48%;
}
.middlefirsticon10 {
  position: absolute;
  top: 21.5%;
  left: 48%;
}
.middlefirsticon11 {
  position: absolute;
  top: 27%;
  left: 47.5%;
}
.middlefirsticon12 {
  position: absolute;
  top: 32%;
  left: 47%;
}
.middlefirsticon13 {
  position: absolute;
  top: 37%;
  left: 44%;
}
.middlefirsticon14 {
  position: absolute;
  top: 43%;
  left: 44%;
}
.middlefirsticon15 {
  position: absolute;
  top: 44.5%;
  left: 49%;
}
.middlesecondicon1 {
  position: absolute;
  top: 51.3%;
  left: 45.5%;
}
.middlesecondicon2 {
  position: absolute;
  top: 55%;
  left: 45.5%;
}
.middlesecondicon3 {
  position: absolute;
  top: 58%;
  left: 51%;
}
.middlesecondicon4 {
  position: absolute;
  top: 61.5%;
  left: 56.5%;
}
.middlesecondicon5 {
  position: absolute;
  top: 65%;
  left: 60%;
}
.middlesecondicon6 {
  position: absolute;
  top: 68.3%;
  left: 60.5%;
}
.middlesecondicon7 {
  position: absolute;
  top: 71.3%;
  left: 61.8%;
}
.middlesecondicon8 {
  position: absolute;
  top: 74.5%;
  left: 61.8%;
}
.middlesecondicon9 {
  position: absolute;
  top: 61.8%;
  left: 44%;
}
.middlesecondicon10 {
  position: absolute;
  top: 71%;
  left: 45%;
}
.middlesecondicon11 {
  position: absolute;
  top: 77%;
  left: 43.5%;
}
.middlesecondicon12 {
  position: absolute;
  top: 82.5%;
  left: 46.7%;
}
.middlesecondicon13 {
  position: absolute;
  top: 87%;
  left: 49.5%;
}
.middlesecondicon14 {
  position: absolute;
  top: 93%;
  left: 51%;
}
.middlesecondicon15 {
  position: absolute;
  top: 94.5%;
  left: 45%;
}

/* right part */

.righticon1 {
  position: absolute;
  top: 5%;
  left: 48%;
}
.righticon2 {
  position: absolute;
  top: 9%;
  left: 48%;
}
.righticon3 {
  position: absolute;
  top: 12%;
  left: 48%;
}
.righticon4 {
  position: absolute;
  top: 16%;
  left: 40%;
}
.righticon5 {
  position: absolute;
  top: 16%;
  left: 59%;
}
.righticon6 {
  position: absolute;
  top: 20%;
  left: 33%;
}
.righticon7 {
  position: absolute;
  top: 20%;
  left: 48%;
}
.righticon8 {
  position: absolute;
  top: 20%;
  left: 63.3%;
}
.righticon9 {
  position: absolute;
  top: 26.5%;
  left: 48%;
}
.righticon10 {
  position: absolute;
  top: 29%;
  left: 32%;
}
.righticon11 {
  position: absolute;
  top: 29%;
  left: 63.8%;
}
.righticon12 {
  position: absolute;
  top: 32.3%;
  left: 48%;
}
.righticon13 {
  position: absolute;
  top: 36%;
  left: 30%;
}
.righticon14 {
  position: absolute;
  top: 37.3%;
  left: 48%;
}
.righticon15 {
  position: absolute;
  top: 36%;
  left: 65.8%;
}
.righticon16 {
  position: absolute;
  top: 40.3%;
  left: 29%;
}
.righticon17 {
  position: absolute;
  top: 40%;
  left: 40%;
}
.righticon18 {
  position: absolute;
  top: 41%;
  left: 48%;
}
.righticon19 {
  position: absolute;
  top: 40%;
  left: 56%;
}
.righticon20 {
  position: absolute;
  top: 40.3%;
  left: 67%;
}
.righticon21 {
  position: absolute;
  top: 46%;
  left: 26%;
}
.righticon22 {
  position: absolute;
  top: 46%;
  left: 39%;
}
.righticon23 {
  position: absolute;
  top: 46%;
  left: 56%;
}
.righticon24 {
  position: absolute;
  top: 46%;
  left: 69%;
}
.righticon25 {
  position: absolute;
  top: 49%;
  left: 23%;
}
.righticon26 {
  position: absolute;
  top: 49%;
  left: 48%;
}
.righticon27 {
  position: absolute;
  top: 49%;
  left: 72%;
}
.righticon28 {
  position: absolute;
  top: 54%;
  left: 39%;
}
.righticon29 {
  position: absolute;
  top: 54%;
  left: 55.6%;
}
.righticon30 {
  position: absolute;
  top: 65%;
  left: 41%;
}
.righticon31 {
  position: absolute;
  top: 65%;
  left: 52.5%;
}
.righticon32 {
  position: absolute;
  top: 71%;
  left: 40%;
}
.righticon33 {
  position: absolute;
  top: 71%;
  left: 54%;
}
.righticon34 {
  position: absolute;
  top: 83%;
  left: 43%;
}
.righticon35 {
  position: absolute;
  top: 83%;
  left: 51%;
}
.righticon36 {
  position: absolute;
  top: 88.5%;
  left: 42%;
}
.righticon37 {
  position: absolute;
  top: 88.5%;
  left: 52%;
}
.righticon38 {
  position: absolute;
  top: 93.1%;
  left: 42%;
}
.righticon39 {
  position: absolute;
  top: 93.1%;
  left: 52.8%;
}

/* end part */
.P9conditions input {
  background-color: #f1f4ff;
  font-size: 15px !important;
  border: #f1f4ff;
  border-bottom: 1px solid black;
  width: 85%;
  height: 27px !important;
}
.P9conditions input:focus,
textarea:focus {
  outline: none !important;
}

.round-check1 .checkBackColor1 {
  background-color: transparent !important;
  border-radius: 50%;
}

.round-check1 .css-flfzji-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  background-image: none !important;
  background-color: red !important;
  border-color: red !important;
}

/* .round-check1 .css-15z8n.Mui-checked {
  background-image: none !important;
  background-color: red !important;
  border-color: red !important;
} */

@media only screen and (max-width: 320px) {
  .index-name input {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .leftImg {
    height: 670px !important;
    width: 240px !important;
    margin-left: 5px !important;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .middleimg {
    height: 650px !important;
    width: 150px !important;
  }
  .body-dimention {
    justify-content: center !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .index-name input {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .leftImg {
    height: 670px !important;
    width: 240px !important;
    margin-left: 5px !important;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .middleimg {
    height: 650px !important;
    width: 150px !important;
  }

  .body-dimention {
    justify-content: center !important;
  }
  .pain-time input{
    width: 80px !important;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .index-name input {
      width: 100% !important;
      margin-left: 0px !important;
    }
  .leftImg {
    height: 670px !important;
    width: 290px !important;
    margin-left: 5px !important;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .middleimg {
    height: 650px !important;
    width: 150px !important;
  }

  .body-dimention {
    justify-content: center !important;
  }
    .pain-time input {
      width: 110px !important;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .lefticon1 {
    position: absolute;
    top: 0.7%;
    left: 48%;
  }

  .lefticon2 {
    position: absolute;
    top: 4%;
    left: 48%;
  }

  .lefticon3 {
    position: absolute;
    top: 4%;
    left: 44%;
  }

  .lefticon4 {
    position: absolute;
    top: 4%;
    left: 52%;
  }

  .lefticon5 {
    position: absolute;
    top: 10%;
    left: 45%;
  }

  .lefticon6 {
    position: absolute;
    top: 10%;
    left: 51%;
  }

  .lefticon7 {
    position: absolute;
    top: 19.3%;
    left: 40%;
  }

  .lefticon8 {
    position: absolute;
    top: 19.3%;
    left: 48%;
  }

  .lefticon9 {
    position: absolute;
    top: 19.3%;
    left: 58%;
  }

  .lefticon10 {
    position: absolute;
    top: 24.6%;
    left: 48%;
  }

  .lefticon11 {
    position: absolute;
    top: 28%;
    left: 38.5%;
  }

  .lefticon12 {
    position: absolute;
    top: 28%;
    left: 58.5%;
  }

  .lefticon13 {
    position: absolute;
    top: 31%;
    left: 45%;
  }

  .lefticon14 {
    position: absolute;
    top: 31%;
    left: 52%;
  }

  .lefticon15 {
    position: absolute;
    top: 34%;
    left: 37.5%;
  }

  .lefticon16 {
    position: absolute;
    top: 34%;
    left: 59.5%;
  }

  .lefticon17 {
    position: absolute;
    top: 37%;
    left: 45%;
  }

  .lefticon18 {
    position: absolute;
    top: 37%;
    left: 51.5%;
  }

  .lefticon19 {
    position: absolute;
    top: 39.8%;
    left: 36%;
  }

  .lefticon20 {
    position: absolute;
    top: 39.8%;
    left: 61%;
  }

  .lefticon21 {
    position: absolute;
    top: 46%;
    left: 35%;
  }

  .lefticon22 {
    position: absolute;
    top: 46%;
    left: 62.5%;
  }

  .lefticon23 {
    position: absolute;
    top: 45.9%;
    left: 43%;
  }

  .lefticon24 {
    position: absolute;
    top: 47.2%;
    left: 48%;
  }

  .lefticon25 {
    position: absolute;
    top: 45.9%;
    left: 53%;
  }

  .lefticon26 {
    position: absolute;
    top: 55.5%;
    left: 43.5%;
  }

  .lefticon27 {
    position: absolute;
    top: 55.5%;
    left: 52.5%;
  }

  .lefticon28 {
    position: absolute;
    top: 67%;
    left: 45%;
  }

  .lefticon29 {
    position: absolute;
    top: 67%;
    left: 52%;
  }

  .lefticon30 {
    position: absolute;
    top: 74%;
    left: 45%;
  }

  .lefticon31 {
    position: absolute;
    top: 74%;
    left: 51.5%;
  }

  .lefticon32 {
    position: absolute;
    top: 85%;
    left: 46%;
  }

  .lefticon33 {
    position: absolute;
    top: 85%;
    left: 52%;
  }

  .lefticon34 {
    position: absolute;
    top: 89%;
    left: 45%;
  }

  .lefticon35 {
    position: absolute;
    top: 89%;
    left: 53%;
  }

  .lefticon36 {
    position: absolute;
    top: 93.3%;
    left: 45%;
  }

  .lefticon37 {
    position: absolute;
    top: 93.3%;
    left: 53%;
  }

  /* middleimg */
  .middleimg {
    height: 650px !important;
    width: 150px !important;
  }

  .middlefirsticon1 {
    position: absolute;
    top: 0%;
    left: 49%;
  }

  .middlefirsticon2 {
    position: absolute;
    top: 4%;
    left: 47%;
  }

  .middlefirsticon3 {
    position: absolute;
    top: 8%;
    left: 45.5%;
  }

  .middlefirsticon4 {
    position: absolute;
    top: 11.8%;
    left: 44%;
  }

  .middlefirsticon5 {
    position: absolute;
    top: 14.8%;
    left: 42.3%;
  }

  .middlefirsticon6 {
    position: absolute;
    top: 17.8%;
    left: 42.3%;
  }

  .middlefirsticon7 {
    position: absolute;
    top: 21%;
    left: 42.3%;
  }

  .middlefirsticon8 {
    position: absolute;
    top: 24.3%;
    left: 42.3%;
  }

  .middlefirsticon9 {
    position: absolute;
    top: 12%;
    left: 49%;
  }

  .middlefirsticon10 {
    position: absolute;
    top: 21.5%;
    left: 49%;
  }

  .middlefirsticon11 {
    position: absolute;
    top: 27%;
    left: 49%;
  }

  .middlefirsticon12 {
    position: absolute;
    top: 32%;
    left: 49%;
  }

  .middlefirsticon13 {
    position: absolute;
    top: 37%;
    left: 48%;
  }

  .middlefirsticon14 {
    position: absolute;
    top: 43%;
    left: 48%;
  }

  .middlefirsticon15 {
    position: absolute;
    top: 44.5%;
    left: 50%;
  }

  .middlesecondicon1 {
    position: absolute;
    top: 51.3%;
    left: 48%;
  }

  .middlesecondicon2 {
    position: absolute;
    top: 55%;
    left: 48%;
  }

  .middlesecondicon3 {
    position: absolute;
    top: 58%;
    left: 50.5%;
  }

  .middlesecondicon4 {
    position: absolute;
    top: 61.5%;
    left: 52%;
  }

  .middlesecondicon5 {
    position: absolute;
    top: 65%;
    left: 55%;
  }

  .middlesecondicon6 {
    position: absolute;
    top: 68.3%;
    left: 55.5%;
  }

  .middlesecondicon7 {
    position: absolute;
    top: 71.3%;
    left: 55%;
  }

  .middlesecondicon8 {
    position: absolute;
    top: 74.5%;
    left: 55%;
  }

  .middlesecondicon9 {
    position: absolute;
    top: 61.8%;
    left: 48%;
  }

  .middlesecondicon10 {
    position: absolute;
    top: 71%;
    left: 48%;
  }

  .middlesecondicon11 {
    position: absolute;
    top: 77%;
    left: 48%;
  }

  .middlesecondicon12 {
    position: absolute;
    top: 82.5%;
    left: 49%;
  }

  .middlesecondicon13 {
    position: absolute;
    top: 87%;
    left: 50%;
  }

  .middlesecondicon14 {
    position: absolute;
    top: 93%;
    left: 50%;
  }

  .middlesecondicon15 {
    position: absolute;
    top: 94.5%;
    left: 47.5%;
  }

  /* right part */

  .righticon1 {
    position: absolute;
    top: 5%;
    left: 48.5%;
  }

  .righticon2 {
    position: absolute;
    top: 9%;
    left: 48.5%;
  }

  .righticon3 {
    position: absolute;
    top: 12%;
    left: 48.5%;
  }

  .righticon4 {
    position: absolute;
    top: 16%;
    left: 45%;
  }

  .righticon5 {
    position: absolute;
    top: 16%;
    left: 52%;
  }

  .righticon6 {
    position: absolute;
    top: 20%;
    left: 38.5%;
  }

  .righticon7 {
    position: absolute;
    top: 20%;
    left: 48.5%;
  }

  .righticon8 {
    position: absolute;
    top: 20%;
    left: 59.5%;
  }

  .righticon9 {
    position: absolute;
    top: 26.5%;
    left: 48.5%;
  }

  .righticon10 {
    position: absolute;
    top: 29%;
    left: 38%;
  }

  .righticon11 {
    position: absolute;
    top: 29%;
    left: 59%;
  }

  .righticon12 {
    position: absolute;
    top: 32.3%;
    left: 48.5%;
  }

  .righticon13 {
    position: absolute;
    top: 36%;
    left: 37%;
  }

  .righticon14 {
    position: absolute;
    top: 37.3%;
    left: 48.5%;
  }

  .righticon15 {
    position: absolute;
    top: 36%;
    left: 60%;
  }

  .righticon16 {
    position: absolute;
    top: 40.3%;
    left: 35.5%;
  }

  .righticon17 {
    position: absolute;
    top: 40%;
    left: 44%;
  }

  .righticon18 {
    position: absolute;
    top: 41%;
    left: 48.5%;
  }

  .righticon19 {
    position: absolute;
    top: 40%;
    left: 53%;
  }

  .righticon20 {
    position: absolute;
    top: 40.3%;
    left: 61%;
  }

  .righticon21 {
    position: absolute;
    top: 46%;
    left: 34%;
  }

  .righticon22 {
    position: absolute;
    top: 46%;
    left: 44%;
  }

  .righticon23 {
    position: absolute;
    top: 46%;
    left: 53%;
  }

  .righticon24 {
    position: absolute;
    top: 46%;
    left: 63%;
  }

  .righticon25 {
    position: absolute;
    top: 49%;
    left: 32.3%;
  }

  .righticon26 {
    position: absolute;
    top: 49%;
    left: 48.5%;
  }

  .righticon27 {
    position: absolute;
    top: 49%;
    left: 64.3%;
  }

  .righticon28 {
    position: absolute;
    top: 54%;
    left: 43%;
  }

  .righticon29 {
    position: absolute;
    top: 54%;
    left: 53%;
  }

  .righticon30 {
    position: absolute;
    top: 65%;
    left: 44%;
  }

  .righticon31 {
    position: absolute;
    top: 65%;
    left: 51.6%;
  }

  .righticon32 {
    position: absolute;
    top: 71%;
    left: 44%;
  }

  .righticon33 {
    position: absolute;
    top: 71%;
    left: 52%;
  }

  .righticon34 {
    position: absolute;
    top: 83%;
    left: 45.5%;
  }

  .righticon35 {
    position: absolute;
    top: 83%;
    left: 50.5%;
  }

  .righticon36 {
    position: absolute;
    top: 88.5%;
    left: 45%;
  }

  .righticon37 {
    position: absolute;
    top: 88.5%;
    left: 51%;
  }

  .righticon38 {
    position: absolute;
    top: 93.1%;
    left: 46%;
  }

  .righticon39 {
    position: absolute;
    top: 93.1%;
    left: 50.3%;
  }
}
