.video-page-title1 {
  font-size: 1.7rem;
  text-align: center;
}
.video-div1 {
  margin: auto;
  padding: 20px;
  width: 800px !important;
  height: 500px !important;
}
.quiz {
  width: 600px !important;
  margin: auto;
}
.sequence-img {
  width: 80%;
  padding: 1rem;
  margin: auto;
  border: 1px solid grey;
  border-radius: 5px;
}
