.report-search {
    font-size: 15px !important;
    border: #f1f4ff;
    border-bottom: 1px solid black;
    width: 20% !important;
    outline: none !important;
    border: none !important;
    border-radius: 10px;
    margin-bottom: 0.6rem;
  }
  
  
  @media only screen and (max-width: 820px) {
    .report-search {
      width: 50% !important;
    }
  }
  @media only screen and (max-width: 422px) {
    .report-search {
      width: 80% !important;
    }
  }
