btn:hover{
    cursor: pointer;
}
.email{
    justify-content: center;
    display: flex;
}
@media only screen and (min-width:320px) and  (max-width: 1215px) {
    .email{
     text-align:center ;
     justify-content: center !important;
     display: flex !important;
    }
}
@media only screen and (min-width:1440px) and  (max-width: 2560px) {
    .email{
     text-align:center ;
     justify-content: center !important;
     display: flex !important;
    }
}
@media only screen and (min-width:768px) and  (max-width: 1115px) {
    .image{
     text-align:center ;
     justify-content: center !important;
     display: flex !important;
     max-width: "500px" !important;
    }
}
 /* @media only screen and (min-width:) and  (max-width: 1115px) {
    i{ 
     text-align:center ;
     justify-content: center !important;
     display: flex !important;
     max-width: "500px" !important;
    }
} */