.generateButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #273044;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;

  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  margin-left: 1.5rem;
}
.generateButton:focus {
  outline: none;
}
.generateButton:hover {
  background-color: #45526e;
}
.chart-inputButton {
  width: 150px;
  font-weight: 300;
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background: #f1f4ff;
}
.chart-label {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 500;
  margin-right: 15px;
}
.chart-div {
  width: 100%;
  height: 700px;
}
.chart-softbox {
  padding-top: 1rem;
}
.msg{
  width: 100%;
  height: 20%;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 580px) {
  .generateButton {
    font-size: 15px;
    padding: 10px;
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .chart-div {
    width: 600px;
    height: 500px;
  }
  .chart-softbox {
    padding-top: 100px;
  }
  .chart-label {
    font-size: 15px;
    width: 100px;
    margin-bottom: 5px;
  }
  .msg{
    padding: 1rem;
    margin: 1rem;
    font-size: 16px;
  }
}
