.imgcompo label {
  font-size: 13px !important;
}
.imgcompo input {
  background-color: #f1f4ff;
  /* padding: 5px !important; */
  font-size: 15px !important;
  border: #f1f4ff;
  border-bottom: 1px solid black;
  width: 20% !important;
  height: 65% !important;
}

.imgcompo input:focus,
textarea:focus {
  outline: none !important;
}
.cranialner-input label {
  font-size: 15px !important;
  font-weight: normal !important;
  margin-bottom: 0px !important;
}
.cranialner-input input {
  background-color: #f1f4ff;
  /* padding: 5px !important; */
  font-size: 15px !important;
  border: #f1f4ff;
  border-bottom: 1px solid black;
}

.cranialner-input input:focus,
textarea:focus {
  outline: none !important;
}
.homans label {
  font-weight: bold !important;
}
.vvx {
  /* margin-right: px !important; */
  padding-right: 0px !important;
}
.vvvx {
  padding-left: 0px !important;
}
.carnivaNotes {
  width: 55% !important;
  height: 81% !important;
}
.carnivaNotes1 {
  width: 59.5% !important;
  height: 81% !important;
}
.carnivaNotes2 {
  width: 49% !important;
  height: 81% !important;
}
.carnivaNotes3 {
  width: 56.5% !important;
  height: 81% !important;
}
.carnivaNotes4 {
  width: 59.5% !important;
  height: 81% !important;
}
.carnivaNotes5 {
  width: 65% !important;
  height: 81% !important;
}
.carnivaNotes6 {
  width: 57% !important;
  height: 81% !important;
}
.carnivaNotes7 {
  width: 66% !important;
  height: 81% !important;
}

@media only screen and (max-width: 320px) {
  .carnivaNotes {
    width: 30% !important;
    height: 81% !important;
  }
  .carnivaNotes7 {
    width: 52.5% !important;
    height: 81% !important;
  }
  .multibodyimg {
    margin-top: 25px !important;
  }
  .multibodyimg img {
    height: 200px;
    width: 260px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .carnivaNotes {
    width: 41% !important;
    height: 81% !important;
  }

  .carnivaNotes7 {
    width: 60% !important;
    height: 81% !important;
  }
  .multibodyimg {
    margin-top: 25px !important;
  }

  .multibodyimg img {
    height: 280px;
    width: 320px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .multibodyimg {
    margin-top: 25px !important;
  }

  .multibodyimg img {
    height: 290px;
    width: 365px;
    margin-right: 25px;
  }
  .carnivaNotes {
    width: 48.5% !important;
    height: 81% !important;
  }

  .carnivaNotes7 {
    width: 65% !important;
    height: 81% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .multibodyimg img {
    /* align-items: center !important;   */
    justify-content: center !important;
    display: flex !important;
    height: 500px;
    width: 700px;
    /* margin-right: 25px; */
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .multibodyimg {
    margin-top: 35px !important;
  }

  .multibodyimg img {
    align-items: center !important;
    height: 200px;
    width: 550px;
    margin-right: 25px;
  }

  .carnivaNotes {
    width: 44% !important;
    height: 81% !important;
  }

  .carnivaNotes6 {
    width: 65% !important;
    height: 81% !important;
  }
  .carnivaNotes7 {
    width: 62.5% !important;
    height: 81% !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .carnivaNotes {
    width: 55% !important;
    height: 81% !important;
  }

  .carnivaNotes6 {
    width: 65% !important;
    height: 81% !important;
  }

  .carnivaNotes1 {
    width: 61% !important;
    height: 81% !important;
  }

  .carnivaNotes2 {
    width: 47.5% !important;
    height: 81% !important;
  }

  .carnivaNotes3 {
    width: 57% !important;
    height: 81% !important;
  }

  .carnivaNotes4 {
    width: 60.5% !important;
    height: 81% !important;
  }

  .carnivaNotes5 {
    width: 68% !important;
    height: 81% !important;
  }

  .carnivaNotes6 {
    width: 57.5% !important;
    height: 81% !important;
  }

  .carnivaNotes7 {
    width: 68.5% !important;
    height: 81% !important;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1440px) {
  .carnivaNotes {
    width: 59.5% !important;
    height: 81% !important;
  }
  .carnivaNotes1 {
    width: 63.5% !important;
    height: 81% !important;
  }

  .carnivaNotes2 {
    width: 54% !important;
    height: 81% !important;
  }

  .carnivaNotes3 {
    width: 60.8% !important;
    height: 81% !important;
  }

  .carnivaNotes4 {
    width: 63.4% !important;
    height: 81% !important;
  }

  .carnivaNotes5 {
    width: 68.5% !important;
    height: 81% !important;
  }

  .carnivaNotes6 {
    width: 61% !important;
    height: 81% !important;
  }

  .carnivaNotes7 {
    width: 68.8% !important;
    height: 81% !important;
  }
}
